{% extends "layout.html" %}

{% block main %}
    	<main class="main">
        	<div class="container">
            	<article class="article">
            	<div class="content">
                	<div class="content__header-с">Contact Us</div>
                	<div class="content__text content__text_theme_simple">Nam in maximus arcu, ac aliquam tellus. Donec vestibulum ipsum nunc, at placerat ante posuere non. Integer at dui a lacus suscipit elementum id non massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc eu neque eros. Ut eu quam justo.</div>
                	<hr class="content__hr">
                <form class="form-contact">
                    <input class="form-contact__input form-contact__name" id="1" name="username" autofocus placeholder="Your Name" tabindex="1">
                    <input class="form-contact__input form-contact__email" id="2" name="email" placeholder="Email" tabindex="2">
                    <input class="form-contact__input form-contact__subject" id="3" name="subject" placeholder="Subject" tabindex="3">
                    <textarea class="form-contact__input form-contact__message" id="4" name="usermassage" placeholder="Your Message" tabindex="4"></textarea>
                    <button class="form-contact__button" type="submit">send message</button>
                </form>        
            	</div>
        	</article>
        	</div>
    	</main>
{% endblock %}